* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    margin: 0;
    background: #000;
    color: #fff;
    text-align: center;
}

#gameCanvas {
    background: #111;
    display: block;
    margin: 20px auto;
    border: 2px solid #444;
}

.instructions {
    max-width: 600px;
    margin: 20px auto;
    font-size: 1rem;
}